# Ollama Configuration
OLLAMA_BASE_URL=http://10.61.46.95:10102
OLLAMA_API_TOKEN=your_api_token_here
OLLAMA_TRANSLATE_MODEL=aya-expanse:latest
OLLAMA_SUMMARIZE_MODEL=phi4:latest

# Speeches ( Transcription) Configuration
SPEACHES_BASE_URL=http://10.61.46.95:10300
SPEACHES_TRANSCRIBE_MODEL=Systran/faster-whisper-large-v3
SPEACHES_TRANSCRIBE_LANGUAGE=zh